.quote__content {
    margin: 0;
    z-index: 10;
}

.quote {
    position: relative;
    color: #ffffff;
}

.quote__image {
    position: absolute;
    border-radius: 30px;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
    height: 340px;
    width: 260px;
    filter: brightness(45%);
    filter: brightness(45%) sepia(80%);
}

.quote__text {
    font-size: 18px;
    line-height: 18px;
}

.quote__title {
    z-index: 10;
    margin: 0;
}