.secret {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #000000;
}

.secret__title {
    color: #ffffff;
    font-size: 24px;
    line-height: 24px;
}

.secret__container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 260px;
    height: 340px;
    border-radius: 30px;
}

.secret__box {
    position: relative;
    width: 20px;
    height: 22px;
    display: block;
    background: #222;
    border: 0.5px solid #000000;
}

.secret__box:nth-child(1) {
    border-top-left-radius: 30px;
}

.secret__box:nth-child(13) {
    border-top-right-radius: 30px;
}

.secret__box:last-child {
    border-bottom-right-radius: 30px;
}

.secret__box:nth-child(196) {
    border-bottom-left-radius: 30px;
}

.secret__box-active {
    background: #0f0;
    pointer-events: none;
    box-shadow: 0 0 10px #0f0;
    z-index: 10;
    animation: animate 2s linear forwards;
}

@keyframes animate {
    0% {
        transform: translate(0,0) rotate(0deg);
    }
    100% {
        transform: translate(0,100vh) rotate(360deg);
    }
}
